<div class="portfolio-wrapper container-fluid">
    <div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
        [ngClass]="{'portfolio-static': !isHover, 'portfolio-hover': isHover}">
        <img class="portfolio-banner-img" src="assets/portfolio/portfolio-no-overlay.png" />
    </div>
    <div class="text text-static" [ngClass]="{'fade-out': isHover, 'fade-in': !isHover}">
        We build more than websites - We build <b>trust</b>
    </div>
    <div class="text text-hover" [ngClass]="{'fade-out': !isHover, 'fade-in': isHover}">
        <ul class="text-hover-list">
            <li><b>"Our work, your success"</b><br>Explore the projects we’ve created and the success stories that followed.</li>
            <li><b>"We build trust"</b><br>Our clients trust us because we’re with them every step of the way and can count on us 24/7.</li>
            <li><b>"Clients for life"</b><br>We’ve built websites and lasting relationships. Our commitment doesn’t end when your website launches.</li>
        </ul>
    </div>
</div>