<div class="portfolio-wrapper">
    <div 
        class="portfolio-banner">
        <img class="portfolio-banner-img" src="../../assets/portfolio/port-back.png" />
    </div>
    <!-- <div class="text text-static">
        We build more than websites - We build <b>TRUST</b>
    </div> -->
    <!-- <div class="text text-hover">
        <ul class="text-hover-list">
            <li><b>"Our work, your success"</b><br>Explore the projects we’ve created and the success stories that followed.</li>
            <li><b>"We build trust"</b><br>Our clients trust us because we’re with them every step of the way and can count on us 24/7.</li>
            <li><b>"Clients for life"</b><br>We’ve built websites and lasting relationships. Our commitment doesn’t end when your website launches.</li>
        </ul>
    </div> -->
</div>
