// Variables for colors, padding, and font sizes
$white-color: rgb(255, 255, 255);
$padding: 10px;
$border-radius: 5px;
$black-color: black;

// Portfolio Wrapper
.portfolio-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
  overflow: hidden; // Prevent overflow
  width: 100%; // Ensure the wrapper is full-width
}

// Portfolio Banner
.portfolio-banner {
  width: 100%;
  max-width: 100%; // Ensure it does not exceed the parent width
  position: relative;

  .portfolio-banner-img {
    width: 100%;
    height: auto;
    display: block; // Ensures there is no extra space below the image
  }
}
