<!-- <footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-section container-fluid" id="upper-footer-section">
            <div class="footer-nav">
                <div class="footer-nav-col">
                    <h5>Pages</h5>
                    <a href="#" class="footer-link">Products</a>
                    <a href="#" class="footer-link">Partners</a>
                    <a href="#" class="footer-link">Pricing</a>
                </div>
                <div class="footer-nav-col">
                    <h5>Contact</h5>
                    <a href="#" class="footer-link">Get Help</a>
                    <a href="#" class="footer-link">Terms</a>
                </div>
            </div>
            <div class="footer-social">
                <img src="assets/footer/twitter-50-white.png" />
                <img src="assets/footer/facebook-50-white.png" />
                <img src="assets/footer/instagram-50-white.png" />
                <img src="assets/footer/tiktok-50-white.png" />
            </div>
        </div>
    
        <div class="footer-section container-fluid" id="lower-footer-section">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="assets/navbar/logo.png" alt="The Website Guys" height="70">
            </a>
            <p>&copy; {{ currentYear }} The Official Website Guys LLC</p>
        </div>
    </div>
</footer> -->


<div class="footer-wrapper">
    <div class="container">
        <div class="logo-and-directory">
            <img class="logo" src="../../assets/logos/logo.png" alt="">
            <div class="directory">
                <div class="directory-section">
                    <div class="section-header">The Website Guys</div>
                    <div class="list">
                        <div class="list-item">About Us</div>
                        <div class="list-item">Partners</div>
                        <div class="list-item">Pricing</div>
                    </div>
                </div>
                <div class="directory-section">
                    <div class="section-header">Products</div>
                    <div class="list">
                        <div class="list-item">Product 1</div>
                        <div class="list-item">Product 2</div>
                        <div class="list-item">Product 3</div>
                    </div>
                </div>
                <div class="directory-section">
                    <div class="section-header">Support</div>
                    <div class="list">
                        <div class="list-item">Contact</div>
                        <div class="list-item">Support 2</div>
                        <div class="list-item">Support 3</div>
                    </div>
                </div>
                <div class="directory-section">
                    <div class="section-header">Legal</div>
                    <div class="list">
                        <div class="list-item">Privacy Policy</div>
                        <div class="list-item">Terms of Service</div>
                        <div class="list-item">Legal 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-and-socials">
            <div class="copyright">© 2024 The Website Guys, LLC</div>
            <div class="socials">
                <div class="social-icon facebook"><a target="_blank" href="https://www.instagram.com/theofficialwebsiteguys/" class="icon-link"><i class="fa-brands fa-instagram"></i></a></div>
                <div class="social-icon instagram"><a target="_blank" href="https://www.facebook.com/profile.php?id=61556389359855" class="icon-link"><i class="fa-brands fa-facebook-f"></i></a></div>
                <div class="social-icon youtube"><a target="_blank" href="https://www.youtube.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-youtube"></i></a></div>
                <div class="social-icon twitter"><a target="_blank" href="https://x.com/thewebsiteguys_" class="icon-link"><i class="fa-brands fa-twitter"></i></a></div>
                <div class="social-icon tiktok"><a target="_blank" href="https://www.tiktok.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-tiktok"></i></a></div>
            </div>
        </div>
    </div>
</div>
