.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 0;
    width: 100%;
    color: #F2F2F2;
}

.container {
    width: 100%;
    max-width: 1248px;
    padding: 0 24px;
}

.logo-and-directory {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    border-bottom: 2px solid #F2F2F2;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 250px;
    height: auto;
    background: url('../../assets/logos/logo.png') no-repeat center center;
    background-size: contain;
    margin-bottom: 24px;
}

.directory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.directory-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.section-header {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.copyright-and-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    width: 100%;
    text-align: center;
}

.copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}

.socials {
    display: flex;
    gap: 16px;
}

.social-icon {
    font-size: 24px;
    cursor: pointer;

    .icon-link{
        color: white;
        text-decoration: none;
    }
}


/* Responsive Design */
@media (min-width: 768px) {
    .logo-and-directory {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .directory {
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 40px;
    }

    .directory-section {
        text-align: left;
        margin: auto;
    }

    .copyright-and-socials {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .copyright {
        margin-bottom: 0;
    }
}
