<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-section container-fluid" id="upper-footer-section">
            <div class="footer-nav">
                <div class="footer-nav-col">
                    <h5>Pages</h5>
                    <a href="#" class="footer-link">Products</a>
                    <a href="#" class="footer-link">Partners</a>
                    <a href="#" class="footer-link">Pricing</a>
                </div>
                <div class="footer-nav-col">
                    <h5>Contact</h5>
                    <a href="#" class="footer-link">Get Help</a>
                    <a href="#" class="footer-link">Terms</a>
                </div>
            </div>
            <div class="footer-social">
                <img src="assets/footer/twitter-50-white.png" />
                <img src="assets/footer/facebook-50-white.png" />
                <img src="assets/footer/instagram-50-white.png" />
                <img src="assets/footer/tiktok-50-white.png" />
            </div>
        </div>
    
        <div class="footer-section container-fluid" id="lower-footer-section">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="assets/navbar/logo.png" alt="The Website Guys" height="70">
            </a>
            <p>&copy; {{ currentYear }} The Official Website Guys LLC</p>
        </div>
    </div>
</footer>
