<div class="footer-wrapper">
    <div class="container">
        <div class="logo-and-directory">

        </div>
        <div class="copyright-and-socials">
            <div class="copyright">© 2024 The Website Guys, LLC</div>
            <div class="socials">
                <div class="social-icon facebook"><a target="_blank" href="https://www.instagram.com/theofficialwebsiteguys/" class="icon-link"><i class="fa-brands fa-instagram"></i></a></div>
                <div class="social-icon instagram"><a target="_blank" href="https://www.facebook.com/profile.php?id=61556389359855" class="icon-link"><i class="fa-brands fa-facebook-f"></i></a></div>
                <div class="social-icon youtube"><a target="_blank" href="https://www.youtube.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-youtube"></i></a></div>
                <div class="social-icon twitter"><a target="_blank" href="https://x.com/thewebsiteguys_" class="icon-link"><i class="fa-brands fa-twitter"></i></a></div>
                <div class="social-icon tiktok"><a target="_blank" href="https://www.tiktok.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-tiktok"></i></a></div>
            </div>
        </div>
    </div>
</div>
