// Variables for colors, paddings, and other repeated values
$primary-color: #007BFF;
$text-color: #333;
$background-color: #f0f0f0;
$faq-background: #ffffff;
$hover-background: #e0e0e0;
$border-color: #e0e0e0;
$shadow-color: rgba(0, 0, 0, 0.05);

// General styles
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $background-color;
  padding: 20px;

  .faq-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $text-color;
  }

  .faq-item {
    background-color: $faq-background;
    border: 1px solid $border-color;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px $shadow-color;

    .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 10px 15px;
      background-color: lighten($background-color, 10%);
      border-radius: 8px;
      transition: background-color 0.3s;

      h4 {
        margin: 0;
        font-size: 18px;
        color: $text-color;
      }

      span {
        font-size: 1.2rem;
        transition: transform 0.3s ease;
      }

      &:hover {
        background-color: $hover-background;
      }

      .rotate {
        transform: rotate(180deg);
      }
    }

    .faq-answer {
      display: none;
      margin-top: 10px;
      padding-left: 15px;
      border-left: 3px solid $primary-color;
      color: darken($text-color, 20%);

      &.show {
        display: block;
      }

      p {
        margin: 0;
        font-size: 0.95rem;
      }
    }
  }
}

// Media Queries
@media (max-width: 768px) {
  .faq-container {
    padding: 15px;
  }

  .faq-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .faq-item {
    padding: 10px;

    .faq-question h4 {
      font-size: 16px;
    }

    .faq-answer p {
      font-size: 0.85rem;
    }
  }
}
