<app-hero></app-hero>
<app-portfolio-carousel></app-portfolio-carousel>
<app-feature-steps></app-feature-steps>
<app-feature-3></app-feature-3>
<app-feature-portfolio></app-feature-portfolio>
<app-feature-products
  title="Put Your Product Into The Hands Of Your Customers"
  description="Custom eCommerce Solutions Tailored to Drive Sales Online"
  [steps]="[
    { title: 'Seamless Shopping Experience', description: 'Intuitive and user-friendly designs that make it easy for your customers to browse and purchase your products.' },
    { title: 'Integrated Payment Solutions', description: 'Secure and convenient payment gateways that provide peace of mind for both you and your customers.' },
    { title: 'Scalable Platform for Future Growth', description: 'Our eCommerce shops are built to grow with your business, accommodating increasing traffic and expanding product lines.' },
    { title: 'Ongoing Support and Optimization', description: 'Continuous monitoring, updates, and SEO enhancements to keep your online store performing at its best.' }
  ]"
  buttonText="Start Selling Today"
  imageUrl="assets/landing/sell.png"
  imageAlt="3 Step InfoGraphic"
  alignment="left">
</app-feature-products>
