<section class="thank-you">
  <div class="thank-you-inner">

    <span class="eyebrow">Payment successful</span>

    <h1 class="orbitron-bold">
      You’re officially onboard 🎉
    </h1>

    <p class="dm-sans-regular">
      Thanks for getting started. The next step is to book your first onboarding call.<br>
      Once you book, you’re all set. You’ll receive a calendar invite and we’ll prep everything before the call.
    </p>


    <div class="calendar-wrapper">
      <iframe
        src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2i_Epu-g1lHpqePUf7tdFP8aacaKmv5rABEjPGbeonq2CaY4s_Ua02RUbhnRSCVcFCM7TjXcSs?gv=true"
        width="100%"
        height="620"
        frameborder="0"
        loading="lazy">
      </iframe>
    </div>

    <p class="note">
      We’ll review everything before the call so we can hit the ground running.
    </p>

    <p class="calendar-note">
        After booking, check your email for the calendar invite.
        Nothing else is required on this page.
    </p>


  </div>
</section>
