<div class="hero-section">
  <img class="hero-image" src="assets/landing/hero-still.png" alt="Hero Image">

  <div class="hero-content">
    <div class="header-content">
      <h1 class="main-header afacad-flux-regular">Let's Build You a Better Website—Free Call. Real Results.</h1>
      <p class="sub-header afacad-flux-thin">We'll help you map out exactly what your website needs—no cost, no commitment.</p>
      <a routerLink="/contact"><button class="button-default">Book A Meeting</button></a>
    </div>
  </div>
</div>
