@import '../../button';

// Variables for colors, padding, and font sizes
$primary-bg: #f4f4f4;
$text-color-dark: #333;
$text-color-light: #555;
$padding-large: 50px;
$padding-medium: 30px;
$padding-small: 20px;
$gap-small: 20px;
$font-size-header-lg: 4vw;
$font-size-subheader-lg: 2vw;
$font-size-header-md: 6vw;
$font-size-subheader-md: 4vw;
$font-size-header-sm: 10vw;
$font-size-subheader-sm: 6vw;
$grid-gap: 20px;
$border-radius: 10px;

// Hero Section
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-large;
  background-color: $primary-bg;
  height: auto;
  flex-direction: row; // Image and content side by side

  @media (max-width: 1024px) {
    flex-direction: column; // Switch to stacked layout on small screens
    padding: $padding-medium;
  }

  @media (max-width: 425px) {
    padding: $padding-small;
  }
}

// Image Styling
.hero-section img {
  max-width: 50%;
  height: auto;
  margin: 5%;

  @media (max-width: 1024px) {
    max-width: 100%; // Make image full width when stacked
  }
}

// Hero Content
.hero-content {
  width: 50%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  h1 {
    font-size: $font-size-header-lg;
    margin-bottom: $gap-small;
    color: $text-color-dark;

    @media (max-width: 1024px) {
      font-size: $font-size-header-md;
    }

    @media (max-width: 425px) {
      font-size: $font-size-header-sm;
    }
  }

  p {
    font-size: $font-size-subheader-lg;
    margin-bottom: $gap-small * 1.5;
    color: $text-color-light;

    @media (max-width: 1024px) {
      font-size: $font-size-subheader-md;
    }

    @media (max-width: 425px) {
      font-size: $font-size-subheader-sm;
    }
  }

  @media (max-width: 1024px) {
    width: 100%; // Ensure content takes full width when stacked
    text-align: center;
  margin: 5%;
  }
}

.hero-image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .hero-image {
    content: url('../../assets/landing/hero-vid-mobile.gif'); /* Path to the mobile image */
  }
}
