.schedule-wrapper {
    max-width: 900px;
    margin: auto;
    padding: 150px 20px;
    text-align: center;
    font-family: 'Afacad', sans-serif;
    color: #000;
  }
  
  .thank-you-box {  
    .headline {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    .subheadline {
      font-size: 18px;
      margin-bottom: 15px;
      color: #444;
    }
  
    .optional-cta {
      font-size: 16px;
      color: #333;
    }
  
    strong {
      color: #000;
      font-weight: 600;
    }
  }
  
  .calendly-wrapper {
    height: 100vh;
  }
