<div class="feature-steps-container">
    <div class="feature-steps-text">
        <h2>Built for Now, Ready for the Future.</h2>
        <p>Scalable websites designed to grow as your business expands.</p>
        <ul>
            <li><strong>SEO Optimized for Long-Term Success</strong> </li>
            <li><strong>Future-Proof Your Online Presence</strong></li>
            <li><strong>Stay Ahead with Sites That Scale</strong></li>
        </ul>
        <button class="get-started-btn">Improve Your SEO</button>
    </div>
    <div class="feature-steps-body">
        <img src="assets/default.jpg" alt="3 Step InfoGraphic">
    </div>
</div>