<div class="feature-steps-container">
    <div class="feature-steps-text">
        <h2>Empower Your Business with an Online Store That Sells</h2>
        <p>Custom eCommerce Solutions Tailored to Drive Sales and Scale with Your Growth</p>
        <ul>
            <li><strong>Seamless Shopping Experience:</strong>  Intuitive and user-friendly designs that make it easy for your customers to browse and purchase your products.</li>
            <li><strong>Integrated Payment Solutions:</strong> Secure and convenient payment gateways that provide peace of mind for both you and your customers.</li>
            <li><strong>Scalable Platform for Future Growth:</strong> Our eCommerce shops are built to grow with your business, accommodating increasing traffic and expanding product lines.</li>
            <li><strong>Ongoing Support and Optimization:</strong> Continuous monitoring, updates, and SEO enhancements to keep your online store performing at its best.</li>
        </ul>
        <button class="get-started-btn">Improve Your SEO</button>
    </div>
    <div class="feature-steps-body">
        <img src="../../assets/ecom.png" alt="3 Step InfoGraphic">
    </div>
</div>