@import '../../_button';

// Variables for colors, padding, and font sizes
$primary-bg: #ffffff;
$heading-color: #333;
$text-color-dark: #555;
$text-color-light: #666;
$padding-large: 100px 96px;
$padding-medium: 30px;
$padding-small: 20px;
$font-size-heading: 3.5rem;
$font-size-text-lg: 1.8rem;
$font-size-text-sm: 1.1rem;

// Feature Steps Container
.feature-steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-large;
  max-width: 90%;
  margin: auto;
  transition: opacity 0.5s ease;
  flex-wrap: wrap;
  background-color: $primary-bg;

  &.reverse-layout {
    flex-direction: row-reverse;
  }
}

// Text Section
.feature-steps-text {
  width: 50%;
  padding: $padding-small;

  h2 {
    font-size: $font-size-heading;
    margin-bottom: $padding-small;
    color: $heading-color;
  }

  p {
    font-size: $font-size-text-lg;
    margin-bottom: 30px;
    color: $text-color-light;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    font-size: $font-size-text-sm;
    margin-bottom: $padding-small;
    line-height: 1.5;
    color: $text-color-dark;

    strong {
      color: $heading-color;
    }
  }
}

// Feature Body Section
.feature-steps-body {
  max-width: 40%;

  img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

// Responsive adjustments

@media (max-width: 1350px) {
  .feature-steps-container {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .feature-steps-text {
    width: 100%;
    padding: $padding-small;
  }

  .feature-steps-container.reverse-layout {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .feature-steps-container {
    flex-direction: column;
    text-align: center;
    padding: $padding-medium;
  }

  .feature-steps-text {
    margin-bottom: $padding-medium;
  }

  .feature-steps-body {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .feature-steps-text {
    padding: 10px;

    h2 {
      font-size: 2rem;
    }

    p,
    li {
      font-size: 1rem;
    }
  }

  .feature-steps-container {
    padding: $padding-small;
  }
}
