/* General container for feature steps */
.feature-steps-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a soft shadow for a modern look */
    flex-wrap: wrap; /* Ensure content wraps on smaller screens */
}

.feature-steps-container.reverse-layout {
    flex-direction: row-reverse;
}

/* Text section */
.feature-steps-text {
    width: 50%;
    padding: 20px;
}

.feature-steps-text h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.feature-steps-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #666;
}

.feature-steps-text ul {
    list-style-type: none;
    padding: 0;
}

.feature-steps-text li {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #555;
}

.feature-steps-text strong {
    color: #000;
    font-weight: bold;
}

/* Image section */
.feature-steps-body {
    width: 45%;
    position: relative;
}

.feature-steps-body img {
    width: 100%;
    border-radius: 8px; /* Adds a slight curve to the image corners */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .feature-steps-text {
        width: 100%;
        padding: 20px;
    }

    .feature-steps-body {
        width: 100%;
        margin-top: 20px;
    }

    .feature-steps-container.reverse-layout {
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .feature-steps-container {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .feature-steps-text,
    .feature-steps-body {
        width: 100%;
        margin: 0;
    }

    .feature-steps-text {
        margin-bottom: 30px;
    }

    .get-started-btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .feature-steps-text h2 {
        font-size: 2rem;
    }

    .feature-steps-text p,
    .feature-steps-text li {
        font-size: 1rem;
    }

    .feature-steps-text {
        padding: 10px;
    }

    .feature-steps-container {
        padding: 20px;
    }
}
