<div class="log-in-page">
    <div class="login-container">

        <div class="login-header">
            <h1>Login to your account</h1>
            <p>Get back in touch with Your Website Guy!</p>
          </div>
      
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="email" id="email" formControlName="email" required />
          </div>
          
      
          <div class="form-group">
            <label for="password">Password*</label>
            <input type="password" id="password" formControlName="password" required />
          </div>
    

          <button type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
          
        </form>
        
        <div class="login-header-logo">
            <img src="assets/logos/logo.png" alt="Shopify Logo" class="logo" />
          </div>
      
        <p class="login-link">
          Don't have an account? <a href="/sign-up">Sign Up</a>
        </p>
      
      
        <div class="footer-links">
          <a href="#">Help</a>
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
        </div>
      </div>
      
</div>
