<div class="step-container" [@fadeInOut]>
  <div class="step-content">
      <h2>{{ steps[currentStepIndex].title }}</h2>
      <p>{{ steps[currentStepIndex].description }}</p>
  
      <!-- Dropdown for Business Type -->
      <ng-container *ngIf="steps[currentStepIndex].inputType === 'select'">
        <select [(ngModel)]="userResponses[steps[currentStepIndex].title]">
          <option *ngFor="let option of steps[currentStepIndex].inputOptions" [value]="option">{{ option }}</option>
        </select>
      </ng-container>

      <!-- Buttons for Subscription -->
      <ng-container *ngIf="steps[currentStepIndex].inputType === 'button'">
        <div class="buttons">
          <button class="next-btn free-btn" (click)="continueForFree()">Continue for Free</button>
          <button class="next-btn subscribe-btn" *ngIf="subscriptionPrice > 0" (click)="subscribeNow()">Subscribe for ${{ subscriptionPrice }}/month</button>
        </div>
      </ng-container>

      <ng-container *ngIf="currentStepIndex === steps.length - 1">
        <div class="nav-info-grid">
          <div *ngFor="let section of navSections" class="nav-info">
            <i [class]="section.icon"></i>
            <h3>{{ section.title }}</h3>
            <p>{{ section.description }}</p>
          </div>
        </div>
      </ng-container>
      
      <!-- Buttons -->
      <div class="buttons">
        <button *ngIf="steps[currentStepIndex].canSkip" class="skip-btn" (click)="skipStep()">Skip</button>
        <button class="next-btn" *ngIf="currentStepIndex < steps.length - 1" (click)="nextStep()">Next</button>
        <button class="next-btn finish-btn" *ngIf="currentStepIndex === steps.length - 1" (click)="finishWalkthrough()">Finish</button>
      </div>
  </div>
</div>

<!-- Modal for subscription -->
<div class="modal" *ngIf="showModal">
<div class="modal-content">
  <h2>Subscribe Now</h2>
  <p>You are subscribing for <strong>${{ subscriptionPrice }}/month</strong>.</p>
  <button class="close-btn" (click)="closeModal()">Cancel</button>
  <button class="confirm-btn">Proceed to Payment</button>
</div>
</div>
