<div class="full-pricing-container">
    <div class="pricing-header-container">
        <div class="content">
          <h2 class="afacad-flux-regular">Pricing</h2>
          <h1 class="afacad-flux-regular">Design Your Website And Talk With A Developer For Free Today!</h1>
          <p class="afacad-flux-regular">Consult with a professional for advice and get the exact website you need.</p>
          <div class="email-signup">
           <a routerLink="/contact"><button>Get Started</button></a> 
          </div>
        </div>
      </div>
      
    
    <div class="pricing-container">
        <div class="pricing-section">
          <div class="pricing-card" *ngFor="let plan of pricingPlans">
            <div class="pricing-header" [ngClass]="plan.popular ? 'popular' : ''">
              <ng-container *ngIf="plan.name === 'Custom Website'; else default">
                <h3>Custom <br /> Website</h3>
              </ng-container>
              <ng-template #default><h3>{{ plan.name }}</h3></ng-template>
              
              <p>{{ plan.description }}</p>
            </div>
            <div class="pricing-price">
              <h2>
                <!-- Insert line break specifically for "Custom Website" pricing -->
                <ng-container *ngIf="plan.name === 'Custom Website'; else defaultPrice">
                  Starting at <br /> $500
                </ng-container>
                <ng-template #defaultPrice>{{ plan.price }}</ng-template>
              </h2>
            </div>
            <div class="pricing-details">
              <h4>Standout features</h4>
              <ul>
                <li *ngFor="let feature of plan.features">{{ feature }}</li>
              </ul>
            </div>
            <div class="pricing-cta">
              <a routerLink="/contact"><button>{{ plan.cta }}</button></a> 
              
            </div>
          </div>
          
        </div>
      </div>
      
      <app-faq-section></app-faq-section>
</div>
