<div class="full-pricing-container">
    <div class="pricing-header-container">
        <div class="content">
          <h2>Pricing</h2>
          <h1>Design Your Website And Talk With A Developer For Free Today!</h1>
          <p>Consult with a professional for advice and get the exact website you need.</p>
          <div class="email-signup">
            <!-- <input type="email" placeholder="Enter your email address" /> -->
           <a href="/contact"><button>Get Started</button></a> 
          </div>
          <!-- <p class="disclaimer">No Credit Card Required.</p> -->
        </div>
      </div>
      
    
    <!-- <div class="pricing-container">
        <div class="pricing-section">
          <div class="pricing-card" *ngFor="let plan of pricingPlans">
            <div class="pricing-header" [ngClass]="plan.popular ? 'popular' : ''">
              <span>{{ plan.promo }}</span>
              <h3>{{ plan.name }}</h3>
              <p>{{ plan.description }}</p>
            </div>
            <div class="pricing-price">
              <h2>{{ plan.price }}<span>/month</span></h2>
            </div>
            <div class="pricing-details">
              <h4>Standout features</h4>
              <ul>
                <li *ngFor="let feature of plan.features">{{ feature }}</li>
              </ul>
            </div>
            <div class="pricing-cta">
              <button>{{ plan.cta }}</button>
            </div>
          </div>
        </div>
      </div> -->
      
      <app-faq-section></app-faq-section>
</div>
