// Variables for colors, padding, and dimensions
$primary-bg: #161616;
$logo-max-size: 100px;
$carousel-width: 800px;
$transition-duration: 0.3s;

// Business Growth Section
.business-growth-section {
  background-color: $primary-bg;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 0;
  position: relative;
}

// Logo Carousel Container
.logo-carousel-container {
  background-color: $primary-bg;
  padding: 15px 0;
  justify-content: center;
}

// Owl Carousel Theme
.owl-theme {
  width: $carousel-width !important;
  margin: 0 auto;
}

// Logo Slide
.logo-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $logo-max-size;
  width: $carousel-width;
}

// Logo Image
.logo-img {
  max-width: $logo-max-size;
  max-height: $logo-max-size;
  transition: transform $transition-duration ease-in-out;
}

// Owl Carousel Stage Outer
.owl-carousel .owl-stage-outer {
  padding-left: 0 !important;
}

// Owl Carousel Items
.owl-carousel .owl-item {
  opacity: 0.8;
  transition: opacity $transition-duration ease-in-out, transform $transition-duration ease-in-out;

  &.active.center {
    opacity: 1;
    transform: scale(1.1); // Slightly scale up the active logo
  }

  &.cloned {
    opacity: 0.5; // Further reduce opacity for cloned items
  }
}
