<div class="feature-steps-section" id="how-it-works">
  <!-- Header -->
  <div class="feature-header">
    <div
      class="feature-step"
      *ngFor="let step of steps; let i = index"
      [class.active]="activeStep === i"
      (click)="activeStep = i"
    >
      <h2>{{ step.title }}</h2>
      <p>{{ step.subtitle }}</p>
    </div>
    <div
      class="feature-indicator"
      [style.transform]="'translateX(' + activeStep * 100 + '%)'"
    ></div>
  </div>

  <div class="feature-content">
    <div class="fade-container" [@fadeIn]="activeStep">
      <div class="text">
        <h3>{{ steps[activeStep].heading1 }}</h3>
        <h3>{{ steps[activeStep].heading2 }}</h3>
        <p>{{ steps[activeStep].description }}</p>
        <a routerLink="/contact">
          <button class="button-primary">{{ steps[activeStep].cta }}</button>
        </a>
      </div>

      <div class="image">
        <img [src]="steps[activeStep].image" [alt]="steps[activeStep].title" />
      </div>
    </div>
  </div>



</div>
