<app-product-hero
  [headerText]="'Your Partner in Digital Success.'"
  [subheaderText]="'Comprehensive SEO &amp; Marketing Strategies, Backed by Experts'"
  [buttonText]="'Get Started'"
  [imageUrl]="'assets/SEO-hero.gif'"
  [backgroundColor]="'#f9f0ff'"
></app-product-hero>


<app-feature-bullets [features]="[
  { icon: 'assets/icons/menu.png', title: 'Harness the power of personalized communication', description: 'A/B testing for email performance, Engaging email design and copywriting, audience segmentation.' },
  { icon: 'assets/icons/chart.png', title: 'Leverage advanced SEO techniques, keyword research, and content optimization', description: 'In-depth keyword research and competitive analysis, On-page and off-page optimization ,Local SEO to capture customers near you' },
  { icon: 'assets/icons/timer.png', title: 'Craft customized marketing strategies tailored to your unique goals', description: 'Brand strategy and positioning, Market research and competitive  analysis, Digital transformation and strategy alignment' },
  { icon: 'assets/icons/arrow.png', title: 'Integrate social media into your marketing strategy', description: 'Social media strategy and content planning, Community management and engagement, Paid social campaigns' }
  ]">
</app-feature-bullets>

<app-feature-products
  title="Maximize Your Online Potential"
  description="From Strategy to Execution, We’ve Got You Covered"
  [steps]="[
    { title: 'Proven Expertise', description: 'We have a deep understanding of the evolving digital landscape and how to navigate it successfully for your business.' },
    { title: 'Customized Solutions', description: 'We understand that every business is unique, so we tailor our services to meet your specific needs and goals.' },
    { title: 'Data-Driven Results', description: 'Our strategies are grounded in data and knowledge of the market to ensure measurable growth and ROI.' },
    { title: 'Full-Service Approach', description: 'From SEO and email marketing to social media integration, we offer a comprehensive range of services designed to work together seamlessly.' }
  ]"
  buttonText="Explore Our Features"
  imageUrl="assets/seo-badge.png"
  imageAlt="Product Features Image"
  alignment="right">
</app-feature-products>




<div class="banner-container">
  <div class="banner-content">
    <h1 class="banner-header m-5">See You At The Top!</h1>
    <a href="/contact"><button class="banner-button">Get Started</button></a>
  </div>
</div>


<!-- <app-feature-cards
  header="Your Dream, Our Expertise"
  [packages]="[
    { icon: 'assets/icons/menu.png', title: 'Proven Expertise', bullets: ['Feature 1', 'Feature 2', 'Feature 3'] },
    { icon: 'assets/icons/menu.png', title: 'Customized Solutions:', bullets: ['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'] },
    { icon: 'assets/icons/menu.png', title: 'Data-Driven Results:', bullets: ['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5'] },
    { icon: 'assets/icons/menu.png', title: 'Full-Service Approach:', bullets: ['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5'] }
    ]"
  backgroundColor="#1A1A1A"
  textColor="#FFFFFF">
</app-feature-cards> -->