<app-product-hero
  [headerText]="'Your Partner in Digital Success.'"
  [subheaderText]="'Comprehensive SEO &amp; Marketing strategies, backed by experts.'"
  [buttonText]="'Get Started'"
  [imageUrl]="'assets/seo-page/SEO-hero.gif'"
  [backgroundColor]="'#f9f0ff'"
></app-product-hero>


<app-feature-bullets [features]="[
  { icon: 'assets/icons/menu.png', title: 'Harness The Power of Personalized Communication', description: 'A/B testing for email performance, engaging email design and copywriting, audience segmentation.' },
  { icon: 'assets/icons/chart.png', title: 'Leverage Advanced SEO Techniques, Keyword Research, and Content Optimization', description: 'In-depth keyword research and competitive analysis, on-page and off-page optimization, local SEO to capture customers near you.' },
  { icon: 'assets/icons/timer.png', title: 'Craft Customized Marketing Strategies Tailored to Your Unique Goals', description: 'Brand strategy and positioning, market research and competitive  analysis, digital transformation and strategy alignment.' },
  { icon: 'assets/icons/arrow.png', title: 'Integrate Social Media Into Your Marketing Strategy', description: 'Social media strategy and content planning, community management and engagement, paid social campaigns.' }
  ]">
</app-feature-bullets>

<app-feature-products
  title="Maximize Your Online Potential"
  description="From strategy to execution, we’ve got you covered."
  [steps]="[
    { title: 'Proven Expertise', description: 'We have a deep understanding of the evolving digital landscape and how to navigate it successfully for your business.' },
    { title: 'Customized Solutions', description: 'We understand that every business is unique, so we tailor our services to meet your specific needs and goals.' },
    { title: 'Data-Driven Results', description: 'Our strategies are grounded in data and knowledge of the market to ensure measurable growth and ROI.' },
    { title: 'Full-Service Approach', description: 'From SEO and email marketing to social media integration, we offer a comprehensive range of services designed to work together seamlessly.' }
  ]"
  buttonText="Explore Our Features"
  imageUrl="assets/seo-page/seo-badge.png"
  imageAlt="Product Features Image"
  alignment="right">
</app-feature-products>




